@model DogViewModel
<h1>Add your Doggo</h1>
<hr/>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h5>Create new dog</h5>
            </div>
            <div class="card-body">
                <form asp-controller="World" asp-action="CreateDog" method="post">
                    <div class="mb-3">
                        <label class="form-label">Dog name</label>
                        <input asp-for=Name type="text" class="form-control"/>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Dog age</label>
                        <input asp-for=Age type="number" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <h6>Dddoooooogggggggoooooo</h6>
            </div>
        </div>

    </div>
</div>