@model List<WebAppMVCTest.Models.DogViewModel>

<div class="text-center">
    <ul>
        @foreach(var dog in Model){
             <li class="display-4">it`s @dog.Name (@dog.Age) doggo</li>
        }   
    </ul>
    
    
</div>